# Files to ignore
.env
.csv
.html
.htm
__pycache__
data/
build/
dist/
main.spec
error_log/

todo.txt
testdownloader.py
testdownloader1.py

# New files
unsorted/
venv/
out.log
app1.py
.feather
data_cache.feather
# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.log

# Recent edits
.rendered_stock_data.html
private_key.pem
public_key.pem


# production scripts
*.sh
*.txt
_production/

# Documentation that must never leave pc
documentation/
*.pdf
*.drawio
